.container-app{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.mix-form-styles{
    padding: 0 10px 10px 10px;
}

.mx-flex-container{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}